$azul-fondo: #121737;
$azul-card: #325172;
$gris-medio: #456880;
$celeste: #769690;
$verde-btn: #374f43;
$blanco-off: #e6eceb;

:host {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1000;
}

.fab-acceso-rapido {
  pointer-events: auto;
  margin-right: 20px;
  margin-bottom: 20px;

  .fab-main {
    --background: #{$verde-btn};
    --color: #{$blanco-off};
  }

  .fab-secundario {
    --background: #{$azul-fondo};
    --color: #{$celeste};
    --background-activated: #{$gris-medio};
    overflow: visible;

    &::after {
      content: attr(data-label);
      position: absolute;
      right: 55px; /* Empuja el texto a la izquierda */
      background: $azul-card;
      color: $blanco-off;
      padding: 6px 12px;
      border-radius: 8px;
      font-size: 0.75rem;
      text-transform: capitalize;
      white-space: nowrap;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
      border: 1px solid rgba($gris-medio, 0.4);
      pointer-events: none;
    }
  }
}
