<ion-fab vertical="bottom" horizontal="end" class="fab-acceso-rapido" #fab>
  <ion-fab-button class="fab-main">
    <ion-icon name="flash"></ion-icon>
  </ion-fab-button>

  <ion-fab-list side="top">
    <ion-fab-button
      *ngFor="let perfil of perfiles"
      class="fab-secundario"
      [attr.data-label]="perfil.nombre"
      (click)="seleccionar(perfil); fab.activated = false">
      <ion-icon [name]="perfil.icono || 'person-outline'"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>