<div class="fab-wrapper">

  <div class="custom-fab-list" [class.visible]="fabAbierto">
    <div class="fab-item-container" *ngFor="let perfil of perfiles">
      <span class="fab-label">{{ perfil.nombre || 'Sin nombre' }}</span>
      <button class="fab-item-btn" (click)="seleccionar(perfil); fabAbierto = false">
        <ion-icon [name]="perfil.icono || 'person-outline'"></ion-icon>
      </button>
    </div>
  </div>

  <button class="fab-main" (click)="fabAbierto = !fabAbierto">
    <ion-icon [name]="fabAbierto ? 'close' : 'flash'"></ion-icon>
  </button>

</div>