<ion-content [fullscreen]="true" scroll-y="false">
  <div class="contenedor-principal">
    
    <div class="bloque-marca">
      <div class="seccion-logo">
        <img src="assets/oso-ursula.png" alt="Logo" class="logo-animado">
      </div>

      <div class="seccion-info">
        <h1 class="titulo-restaurante">ÚRSULA</h1>
        <p class="subtitulo">Restaurante</p>
      </div>
    </div>

    <div class="footer-academico fade-in-atrasado">
      <p class="nombre-grupo">
        GRUPO: <strong class="texto-logo-footer">ursula</strong>
      </p>
      <div class="integrantes">
        <span>Maldonado, Julian</span>
        <span class="separador">|</span>
        <span>Rial, Carlos</span>
        <span class="separador">|</span>
        <span>Moreyra, Nicolas</span>
      </div>
      <p class="institucion">UTN - TFI 2026</p>
    </div>

  </div>
</ion-content>
