<ion-content [fullscreen]="true" scroll-y="false">
  <div class="viewport">
    <div class="main-card">
      <div class="hero-image">
        <div class="overlay">
          <h1 class="font-elegante">Bienvenido</h1>
          <p class="sub-elegante">Úrsula App</p>
        </div>
      </div>

      <div class="form-content scrollable-form">
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
          <div class="input-group">
            <label class="custom-label">CORREO ELECTRÓNICO</label>
            <input
              type="email"
              formControlName="email"
              placeholder="Ingrese su correo electrónico"
              class="input-standard"
            />
            <span class="error-text">{{ getErrorMessage('email') }}</span>
          </div>

          <div class="input-group">
            <label class="custom-label">CONTRASEÑA</label>
            <div class="password-container">
              <input
                [type]="showPassword ? 'text' : 'password'"
                formControlName="password"
                placeholder="••••••••"
                class="input-standard"
              />
              <ion-icon 
                [name]="showPassword ? 'eye-off-outline' : 'eye-outline'" 
                class="password-toggle"
                (click)="togglePassword()">
              </ion-icon>
            </div>
            <span class="error-text">{{ getErrorMessage('password') }}</span>
          </div>

          <div class="button-wrapper">
            <button type="submit" class="btn-registro" [disabled]="loginForm.invalid">
              INICIAR SESIÓN
            </button>
          </div>
        </form>

        <div class="login-redirect">
          <p>
            ¿No tienes cuenta?
            <span class="link-text" (click)="irAlRegistro()">Regístrate</span>
          </p>
          <p>
            TEST ALTA CLIENTE
            <span class="link-text" (click)="irAltaCliente()">Alta Cliente</span>
          </p>
          
          <p class="dev-access">
            <span class="link-dev" (click)="accesoDirectoMetre()">
              MODO TEST: Dashboard Metre
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end" class="fab-acceso-rapido" #fab>
  <ion-fab-button class="fab-main">
    <ion-icon name="flash"></ion-icon>
  </ion-fab-button>
  
  <ion-fab-list side="top">
    <div class="fab-item" (click)="fillUser('dueño'); fab.activated = false">
      <span class="fab-label">Dueño</span>
      <ion-fab-button size="small">
        <ion-icon name="key-outline"></ion-icon>
      </ion-fab-button>
    </div>

    <div class="fab-item" (click)="fillUser('supervisor'); fab.activated = false">
      <span class="fab-label">Supervisor</span>
      <ion-fab-button size="small">
        <ion-icon name="briefcase-outline"></ion-icon>
      </ion-fab-button>
    </div>

    <div class="fab-item" (click)="fillUser('metre'); fab.activated = false">
      <span class="fab-label">Metre</span>
      <ion-fab-button size="small">
        <ion-icon name="shield-checkmark-outline"></ion-icon>
      </ion-fab-button>
    </div>

    <div class="fab-item" (click)="fillUser('mozo'); fab.activated = false">
      <span class="fab-label">Mozo</span>
      <ion-fab-button size="small">
        <ion-icon name="restaurant-outline"></ion-icon>
      </ion-fab-button>
    </div>

    <div class="fab-item" (click)="fillUser('cocinero'); fab.activated = false">
      <span class="fab-label">Cocinero</span>
      <ion-fab-button size="small">
        <ion-icon name="fast-food-outline"></ion-icon>
      </ion-fab-button>
    </div>

    <div class="fab-item" (click)="fillUser('cantinero'); fab.activated = false">
      <span class="fab-label">Cantinero</span>
      <ion-fab-button size="small">
        <ion-icon name="wine-outline"></ion-icon>
      </ion-fab-button>
    </div>

    <div class="fab-item" (click)="fillUser('cliente'); fab.activated = false">
      <span class="fab-label">Cliente</span>
      <ion-fab-button size="small">
        <ion-icon name="person-outline"></ion-icon>
      </ion-fab-button>
    </div>
  </ion-fab-list>
</ion-fab>
</ion-content>