<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="volver()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="titulo-ursula">Mi Pedido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  @if (carritoService.items().length === 0) {
    <div class="estado-vacio">
      <ion-icon name="restaurant-outline"></ion-icon>
      <h3>Tu carrito está vacío</h3>
      <ion-button shape="round" color="primary" (click)="volver()" class="btn-volver-menu">Ver Menú</ion-button>
    </div>
  } @else {
    <div class="contenedor-lista">
      @for (item of carritoService.items(); track item.producto_id) {
        <div class="tarjeta-item">
          <div class="info-principal">
            <h2 class="nombre-plato">{{ item.nombre }}</h2>
            <div class="control-cantidad">
              <ion-button fill="clear" (click)="modificarCantidad(item.producto_id, -1)" class="btn-cant">
                <ion-icon name="remove-outline" slot="icon-only"></ion-icon>
              </ion-button>
              <span class="cantidad-badge">{{ item.cantidad }}</span>
              <ion-button fill="clear" (click)="modificarCantidad(item.producto_id, 1)" class="btn-cant">
                <ion-icon name="add-outline" slot="icon-only"></ion-icon>
              </ion-button>
            </div>
          </div>
          <div class="info-secundaria">
            <span class="precio-unitario">Unitario: ${{ item.precio }}</span>
            <div class="acciones">
              <h3 class="subtotal">${{ item.cantidad * item.precio }}</h3>
              <ion-button fill="clear" color="danger" (click)="eliminarItem(item.producto_id)" class="btn-basura">
                <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
              </ion-button>
            </div>
          </div>
        </div>
      }
    </div>
  }
</ion-content>

@if (carritoService.items().length > 0) {
  <ion-footer class="ion-no-border footer-navy">
    <div class="resumen-container">
      <div class="fila-resumen">
        <span class="label">Tiempo est. acumulado:</span>
        <span class="valor-tiempo">{{ carritoService.tiempoTotal() }} min</span>
      </div>
      <div class="fila-resumen total">
        <span class="label">Total a pagar:</span>
        <span class="valor-total">${{ carritoService.total() }}</span>
      </div>
    </div>
    <div class="button-wrapper">
      <button class="btn-confirmar-nativo" (click)="confirmarPedido()">
        CONFIRMAR Y PEDIR
      </button>
    </div>
  </ion-footer>
}