<ion-content [fullscreen]="true">
  <div class="viewport">
    <div class="main-card">
      
      <div class="hero-image">
        <div class="overlay">
          <h1 class="font-elegante">Alta de Empleado</h1>
          <p class="sub-elegante">Registra un nuevo integrante</p>
        </div>
      </div>

      <div class="form-content scrollable-form">
        <form [formGroup]="altaForm" (ngSubmit)="guardarEmpleado()">

          <div class="button-wrapper" style="margin-bottom: 20px;">
            <button type="button" class="btn-secundario" (click)="escanearDNI()">
              <ion-icon name="qr-code-outline" style="font-size: 1.2rem; margin-right: 8px;"></ion-icon>
              ESCANEAR DNI
            </button>
          </div>

          <div class="input-group">
            <label class="custom-label">NOMBRES</label>
            <input type="text" formControlName="nombres" placeholder="Ingrese el nombre" class="input-standard" />
            <span class="error-text">{{ getErrorMessage('nombres') }}</span>
          </div>

          <div class="input-group">
            <label class="custom-label">APELLIDOS</label>
            <input type="text" formControlName="apellidos" placeholder="Ingrese el apellido" class="input-standard" />
            <span class="error-text">{{ getErrorMessage('apellidos') }}</span>
          </div>

          <div class="input-group">
            <label class="custom-label">DNI</label>
            <input type="tel" formControlName="dni" placeholder="Ingrese el DNI" class="input-standard" maxlength="8" />
            <span class="error-text">{{ getErrorMessage('dni') }}</span>
          </div>

          <div class="input-group">
            <label class="custom-label">CUIL</label>
            <input type="tel" formControlName="cuil" placeholder="Ingrese el CUIL" class="input-standard" maxlength="11" />
            <span class="error-text">{{ getErrorMessage('cuil') }}</span>
          </div>

          <div class="input-group">
            <label class="custom-label">CORREO ELECTRÓNICO</label>
            <input type="email" formControlName="correo_electronico" placeholder="Ingrese el correo" class="input-standard" />
            <span class="error-text">{{ getErrorMessage('correo_electronico') }}</span>
          </div>

          <div class="input-group">
            <label class="custom-label">CONTRASEÑA</label>
            <input type="password" formControlName="clave" placeholder="••••••••" class="input-standard" />
            <span class="error-text">{{ getErrorMessage('clave') }}</span>
          </div>

          <div class="input-group">
            <label class="custom-label">PERFIL</label>
            <select formControlName="perfil" class="input-standard custom-select">
              <option value="" disabled selected>Seleccione un perfil</option>
              <option value="cocinero">Cocinero</option>
              <option value="bartender">Bartender</option>
              <option value="metre">Metre</option>
              <option value="mozo">Mozo</option>
            </select>
            <span class="error-text">{{ getErrorMessage('perfil') }}</span>
          </div>

          <div class="input-group">
            <label class="custom-label">FOTO DE PERFIL (Obligatorio)</label>
            <input type="file" accept="image/*" capture="user" (change)="onFileSelected($event)" name="foto" id="foto" formControlName="foto" class="input-standard" style="padding-top: 10px;" />
            <span class="error-text">{{ getErrorMessage('foto') }}</span>
          </div>

          <div class="button-wrapper">
            <button type="button" class="btn-registro" (click)="guardarEmpleado()" [disabled]="cargando">
              
              <span *ngIf="!cargando">GUARDAR EMPLEADO</span>
              <ion-spinner *ngIf="cargando" name="crescent" style="color: white;"></ion-spinner>
              
            </button>
          </div>
        </form>
      </div>
      
    </div>
  </div>
</ion-content>